.Create-todo-button {
    background: transparent; /* Hace que el fondo sea transparente */
    border: transparent;
    border-radius: 20px;
    display: flex; /* Convierte el botón en un contenedor flex */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    width: 55px;
    height: 55px; 
    text-align: center; /* Centra el texto */
    margin-bottom: 10px;
    transition: border 0.5s ease;
    transition: box-shadow 0.1s ease;
    z-index: 1;
}


/*
.Create-todo-button:hover {
    box-shadow: 0 0 8px #1dbde1; 
    border: 3px solid #11abce ;

}
*/


.icon-create {
    width: 40px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: all 0.5s ease; /* Añade una transición al transform */
}

.Create-todo-button:hover .icon-create{
    transform: scale(1.3) rotate(360deg); /* Aumenta el tamaño de la imagen en un 10% y la gira 360 grados */
}
